force-app/main/default/flows/Books_Library_Minus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>If_Prior_Value_not_equals_to_Approve</name>
        <label>If Prior Value not equals to Approve</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NOT_approve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Book_Value_Minus</targetReference>
            </connector>
            <label>NOT approve</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Minus_Value_For_Available_Copies</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Books__r.Available_Copies__c}-1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Books Library Minus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Books Availability SUB</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Book_Value_Minus</name>
        <label>Book Value Minus</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Available_Copies__c</field>
            <value>
                <elementReference>Minus_Value_For_Available_Copies</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Books__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Prior_Value_not_equals_to_Approve</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Book_Issue__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
