force-app/main/default/flows/Contact_Count_on_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Assigning</name>
        <label>Assigning</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varContactCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_To_Add</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updating_Total_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Contacts</name>
        <label>Count Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varContactCount</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Whether_Related</name>
        <label>Whether Related</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Count_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_Related_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning</targetReference>
            </connector>
            <label>yes Related Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Formula_To_Add</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Account.Total_Contact__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Contact Count on Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Count on Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Updating_Total_Count</name>
        <label>Updating Total Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Count_Contacts</targetReference>
        </connector>
        <inputAssignments>
            <field>Total_Contact__c</field>
            <value>
                <elementReference>varContactCount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Whether_Related</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varContactCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
